* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    height: 960px;
    width: 1180px;
    background-color: #FFFFFF;
    position: relative;
    margin: 0 auto;
}

.main-image {
    height: 500px;
    width: 1180px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-image: url("images/reservations-image.jpg")
}

/* Navigation Bar Style */
.nav-bar {
    height: 40px;
    width: 1180px;
    background-color: #FFFFFF;
    position: absolute;
    left: 0px;
    top: 10px;
}

.nav-buttons {
    position: absolute;
    height: 18px;
    width: 180px;
    top: 8px;
    font-family: "Reem Kufi", sans-serif;
    color: #343339;
    text-decoration: none;
    text-align: center;
}

.active {
    color: #D05E43;
}

#menu {
    left: 150px;
}

#specials {
    left: 350px;
}

#about-us {
    left: 550px;
}

#reservations {
    left: 750px;
}

#order-online {
    left: 950px;
}

#logo-home {
    position: absolute;
    left: 73px;
    top: -10px;
    width: 60px;
    height: 60px;
    background-color: #FFFFFF;
    border-radius: 0px 0px 5px 5px;
    padding-left: 1px;
}

#logo {
    width: 48px;
    height: 55px;
    position: absolute;
    top: 2px;
    left: 7px;
}

/* Main content styles */
.main-content {
    width: 1180px;
    height: 460px;
    position: absolute;
    left: 0px;
    top: 500px;
    background-color: #FFFFFF;
}

.info{
    font-family: "Reem Kufi", sans-serif;
    font-size: 18px;
    color: #343339;
    width: 280px;
    height: 105px;
    position: absolute;
    top: 100px;
    left: 110px;
}

.vl {
    border-left: 3px solid #597A31;
    height: 260px;
    position: absolute;
    left: 450px;
    top: 20px;
}

/* Form style */
.form_01 {
    font-family: "Reem Kufi", sans-serif;
    font-size: 14px;
}

input {
    width: 200px;
    height: 30px;
    background-color: rgba(196, 196, 196, 0.19);
    border: none;
}

.input_1 {
    width: 200px;
    height: 30px;
    position: absolute;
    left: 590px;
    top: 90px;
}

.input_2 {
    width: 200px;
    height: 30px;
    position: absolute;
    left: 590px;
    top: 140px;
}

.input_3 {
    width: 200px;
    height: 30px;
    position: absolute;
    left: 590px;
    top: 190px;
}

.input_4 {
    width: 200px;
    height: 30px;
    position: absolute;
    left: 890px;
    top: 90px;
}

.input_5{
    width: 200px;
    height: 30px;
    position: absolute;
    left: 890px;
    top: 140px;
}

.name {
    color: #FFFFFF;
    background-color: #809C35;
    height: 30px;
    width: 80px;
    border-radius: 4px 0 0 4px;
    position: absolute;
    left: 510px;
    top: 90px;
}

.input_text {
    position: absolute;
    left: 5px;
    top: 5px;
}

.phone {
    color: #FFFFFF;
    background-color: #809C35;
    height: 30px;
    width: 80px;
    border-radius: 4px 0 0 4px;
    position: absolute;
    left: 510px;
    top: 140px;
}

.party{
    color: #FFFFFF;
    background-color: #809C35;
    height: 30px;
    width: 80px;
    border-radius: 4px 0 0 4px;
    position: absolute;
    left: 510px;
    top: 190px;
}

.date{
    color: #FFFFFF;
    background-color: #809C35;
    height: 30px;
    width: 80px;
    border-radius: 4px 0 0 4px;
    position: absolute;
    left: 810px;
    top: 90px;
}

.time{
    color: #FFFFFF;
    background-color: #809C35;
    height: 30px;
    width: 80px;
    border-radius: 4px 0 0 4px;
    position: absolute;
    left: 810px;
    top: 140px;
}

.submit{
    color: #FFFFFF;
    background-color: #809C35;
    height: 30px;
    width: 80px;
    border-radius: 4px;
    position: absolute;
    left: 810px;
    top: 190px;
    font-family: "Reem Kufi", sans-serif;
    font-size: 18px;
    text-align: center;
}

.submit:hover{
    background-color: #597A31;
}

input[type=text]:focus {
    border: 3px solid #DDD;
}

.box_bookatable {
    width: 580px;
    height: 30px;
    position: absolute;
    left: 510px;
    top: 40px;
    background-color: #D05E43;
    font-family: "Reem Kufi", sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    padding-left: 5px;
    padding-top: 2px;
    border-radius: 6px;
}

.footer {
    width: 1180px;
    height: 160px;
    position: absolute;
    left: 0px;
    top: 800px;
    background-color: #343339;
    font-family: "Reem Kufi", sans-serif;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
}

#contact-info {
    width: 385px;
    height: 14px;
    position: absolute;
    left: 407px;
    top: 50px;
}

#border {
    position: absolute;
    width: 580px;
    height: 0px;
    left: 310px;
    top: 80px;
    border: 1px solid #FFFFFF;
}

#footer-navigation {
    position: absolute;
    width: 474px;
    height: 17px;
    left: 363px;
    top: 95px;
    font-size: 12px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}